<!-- Your form goes here! -->
<form action="/searches" method="POST">
<input id="search" type="text" name="q">
 <input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden">
<input id="Create" type="submit" value="Search">
</form>